@model TheWorldTree.Models.TreePress
@using TheWorldTree.HtmlExtension;
@{
    ViewData["Title"] = "添加新闻";
    Layout = "~/Views/Shared/_Layout_Edit.cshtml";
}


<form class="layui-form" lay-filter="press">
    @Html.HiddenFor(x => x.ID)
    <div class="layui-form-item">
        @Html.LabelLayuiFor(x => x.Title)
        <div class="layui-input-block">
            @Html.EditorLayuiFor(x => x.Title)
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelLayuiFor(x => x.Description)
        <div class="layui-input-block">
            @Html.EditorLayuiFor(x => x.Description)
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelLayuiFor(x => x.Issue)
        <div class="layui-input-block">
            @Html.SwitchLayuiFor(x => x.Issue)
        </div>
    </div>
    <div class="layui-form-item">
        @Html.TextareaLayuiFor(x => x.MainBody, "content")
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <a class="layui-btn" lay-submit lay-filter="*">立即提交</a>
        </div>
    </div>
</form>

<script>
    layui.use(['layer', 'layedit', 'form','element'], function () {
        var layedit = layui.layedit;
        var element = layui.element;
        var form = layui.form;
        var imgUrl = "@Url.Action("UploadIMG", "UploadFile")?contentId=" + $("#ID").val();
        layedit.set({
            uploadImage: {
                url: imgUrl //接口url
                , type: 'post' //默认post
            }
        });
        var index =layedit.build('MainBody', {
            //height: 400
        }); //建立编辑器
        form.verify({
            content: function (value) {
                return layedit.sync(index);
            }
        });
        ///提交数据
        form.on('submit(*)', function (data) {
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'post',
                dataType: 'json',
                data: data.field,
                success: function (data) {
                    if (data.type == 0) {
                        layer.msg(data.message);
                        LayUIMethod.TabPageTurnOff();
                    }
                    else {
                        layer.msg(data.message);
                    }

                },
                error: function (dataError) {
                    alert(dataError)
                }

            })
        });
        //监听赋值事件
        form.on('switch', function () {
            var val = $('input:checkbox[name="Issue"]:checked').val();
            if (val == "on") {
                form.val('press', {
                    "Issue": "true"
                });
            }
        });
    });
</script>
