@model TheWorldTree.Models.TreePress
@using TheWorldTree.HtmlExtension;
@{
    ViewData["Title"] = "添加";
    Layout = "~/Views/Shared/_Layout_Edit.cshtml";
}


<form class="layui-form">
    @Html.HiddenFor(x=>x.ID)
    <div class="layui-form-item">
        @Html.LabelLayuiFor(x => x.Title)
        <div class="layui-input-block">
            @Html.EditorLayuiFor(x => x.Title)
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelLayuiFor(x => x.Description)
        <div class="layui-input-block">
            @Html.EditorLayuiFor(x => x.Description)
        </div>
    </div>
    <div class="layui-form-item">
        @Html.TextareaLayuiFor(x => x.MainBody)
    </div>

    <div class="layui-form-item">
        @Html.LabelLayuiFor(x => x.Issue)
        <div class="layui-input-block">
            @Html.SwitchLayuiFor(x => x.Issue)
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
        </div>
    </div>
</form>

<script>
    layui.use('layedit', function () {
        var layedit = layui.layedit;
        var imgUrl = "@Url.Action("UploadIMG", "UploadFile")?contentId=" + $("#ID").val();
        layedit.set({
            uploadImage: {
                url: imgUrl //接口url
                , type: 'post' //默认post
            }
        });
        layedit.build('MainBody', {
            height: 300
        }); //建立编辑器
        layedit.sync(index);
    });
    layui.use('form', function () {
        var form = layui.form;

        //各种基于事件的操作，下面会有进一步介绍
    });
</script>
