@model TheWorldTree.Models.TreePress
@using TheWorldTree.HtmlExtension;
@{
    ViewData["Title"] = "添加";
    Layout = "~/Views/Shared/_Layout_Edit.cshtml";
}


<form class="layui-form">
    @Html.HiddenFor(x => x.ID)
    <div class="layui-form-item">
        @Html.LabelLayuiFor(x => x.Title)
        <div class="layui-input-block">
            @Html.EditorLayuiFor(x => x.Title)
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelLayuiFor(x => x.Description)
        <div class="layui-input-block">
            @Html.EditorLayuiFor(x => x.Description)
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelLayuiFor(x => x.Issue)
        <div class="layui-input-block">
            @Html.SwitchLayuiFor(x => x.Issue)
        </div>
    </div>
    <div class="layui-form-item">
        @Html.TextareaLayuiFor(x => x.MainBody, "content")
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
        </div>
    </div>
</form>

<script>
    layui.use(['layer', 'layedit', 'form'], function () {
        var layedit = layui.layedit;
        var form = layui.form;
        var imgUrl = "@Url.Action("UploadIMG", "UploadFile")?contentId=" + $("#ID").val();
        layedit.set({
            uploadImage: {
                url: imgUrl //接口url
                , type: 'post' //默认post
            }
        });
        var index =layedit.build('MainBody', {
            height: 500
        }); //建立编辑器
        form.verify({
            content: function (value) {
                return layedit.sync(index);
            }
        });
        form.on('submit(*)', function (data) {
            //var maintenancePlace = JSON.stringify(data.field);
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'post',
                dataType: 'json',
                //contentType: "application/json",
                data: data.field,
                success: function (dataResult) {
                    alert(11111111)
                }
            })
        })
    });
     @*layui.use('form', function () {
        var form = layui.form;
        form.on('submit(*)', function (data) {
            //var maintenancePlace = JSON.stringify(data.field);
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'post',
                dataType: 'json',
                //contentType: "application/json",
                data: data.field,
                success: function (dataResult) {
                    alert(11111111)
                }
            })
        })
    });*@
</script>
