@{
    ViewData["Title"] = "主页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        body {
            background-color: #d6d2d2;
        }
    </style>
}

<div class="layui-fluid">
    <div class="layui-row layui-col-space5" style="margin-top:1%">
        <div class="layui-col-md9">
            <div class="grid-demo grid-demo-bg1" style="background-color: white;height: 32%;">
                <div id="popularity" style="height:98%;"></div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="grid-demo grid-demo-bg1" style="background-color: white;height: 32%;">
                <div class="layui-col-md12">
                    时钟显示
                </div>
                <div class="layui-col-md4">
                    文章数 @ViewBag.Articles
                </div>
                <div class="layui-col-md4">
                    访问数 0
                </div>
                <div class="layui-col-md4">
                    订阅数 @ViewBag.Subs
                </div>
            </div>
           
        </div>
    </div>
    <div class="layui-row layui-col-space5">
        <div class="layui-col-md9">
            <div class="grid-demo grid-demo-bg1" style="background-color: white;height: 32%;">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>标题</th>
                            <th>作者</th>
                            <th>发表时间</th>
                            <th>描述</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.PubArticle)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>admin</td>
                                <td>@item.CreateTime</td>
                                <td>@item.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="grid-demo" style="background-color: white;height: 32%;">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>标题</th>
                            <th>作者</th>
                            <th>发表时间</th>
                            <th>描述</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.NoPubArticle)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>admin</td>
                                <td>@item.CreateTime</td>
                                <td>@item.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @*<div class="layui-row layui-col-space5">

            <div class="layui-col-md4">
                <div class="grid-demo" style="background-color: white;height: 32%;">
                    <div class="layui-carousel" id="test2">
                        <div carousel-item="">
                            <div style="background-color:aqua">条目1</div>
                            <div style="background-color:blueviolet">条目2</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="grid-demo grid-demo-bg1" style="background-color:white;height: 32%;">
                    <div class="layui-carousel" id="test3">
                        <div carousel-item="">
                            <div style="background-color:aqua">条目1</div>
                            <div style="background-color:blueviolet">条目2</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="grid-demo" style="background-color:white;height:32%;">
                    <div class="layui-carousel" id="test4">
                        <div carousel-item="">
                            <div style="background-color:aqua">条目1</div>
                            <div style="background-color:blueviolet">条目2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="layui-row layui-col-space5">
        <div class="layui-col-md9">
            <div class="grid-demo grid-demo-bg1" style="background-color: white;height: 32%;">其他展示内容</div>
        </div>
        <div class="layui-col-md3">
            <div class="grid-demo" style="background-color: white;height: 32%;">作者相关介绍</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ipi = @Html.Raw(ViewBag.IPInfo);//获取每月访问人数
    var dom = document.getElementById("popularity");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    app.title = '坐标轴刻度与标签对齐';

    option = {
        title: {
            text: '本年度每月访问人数',
            subtext: 'Monthly visitors this year'
        },
        color: ['#3398DB'],
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '直接访问',
                type: 'bar',
                barWidth: '60%',
                data: [ipi["Jan"], ipi["Feb"], ipi["Mar"], ipi["Apr"], ipi["May"], ipi["Jun"], ipi["Jul"], ipi["Aug"], ipi["Sep"], ipi["Oct"], ipi["Nov"], ipi["Dec"]]
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

</script>
